header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

nav {
  background-color: rgba(0, 0, 0, 0.8);
}

.my-dark-transparent {  
  background-color: rgba(0, 0, 0, 0.8);  
}

.white-text li a {
  color: white;
}

.black-text {
  color: black;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

i.icon-black {
  color: black;
}

.no-margin {
  margin: 0;
}

.no-rounded-corners {
  border-radius: 0px;
}

.handle {
  cursor: move;
}

.remove {
  cursor: pointer;
}

.no-block {
  display: inline !important;
}

.extra-spacing {
  margin-right: 16px;
}