header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
}

.my-dark-transparent {
    background-color: rgba(0, 0, 0, 0.8);
}

.white-text li a {
    color: white;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

i.icon-black {
    color: black;
}

.textarea-extra-padding {
    padding: .4rem .4rem .4rem .4rem !important;
}

.round {
    border-radius: 3px !important;
}
