header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
}

.my-dark-transparent {
    background-color: rgba(0, 0, 0, 0.8);
}

.white-text li a {
    color: white;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

i.icon-black {
    color: black;
}

.textarea-extra-padding {
    padding: .4rem .4rem .4rem .4rem !important;
}

.round {
    border-radius: 3px !important;
}

.multiline-text {
    white-space: pre-line;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.modal {
    background-color: #303030;
}

/* Date Display */
.datepicker-date-display {
    background-color: #424242;
    color: #fff;
}

.datepicker-table td.is-selected {
    background-color: #424242;
    color: #fff;
}

/* Clock Digital Display */
.timepicker-digital-display {
    background-color: #424242;
}

.timepicker-plate {
    background-color: #424242;
}
