.no-margin {
    margin: 0;
}

.no-rounded-corners {
    border-radius: 0px;
}

.handle {
    cursor: move;
}

.remove {
    cursor: pointer;
}

.no-block {
    display: inline !important;
}

.extra-spacing {
    margin-right: 16px;
}

[type="checkbox"] + span:not(.lever):before,
[type="checkbox"]:not(.filled-in) + span:not(.lever):after {
    border: 2px solid white;
}

[type="checkbox"]:checked + span:not(.lever):before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
