{{ define "title" }}Permission Denied{{ end }}


{{ define "css" }}

{{ end }}


{{ define "content" }}

<div class="row">
    <div class="col">
        <h2>403: Permission Denied!</h2>
    </div>
</div>

{{ end }}


{{ define "js" }}

{{ end }}
