{{ define "title" }}Page Not Found{{ end }}


{{ define "css" }}

{{ end }}


{{ define "content" }}

<div class="row">
    <div class="col">
        <h2>404: Page Not Found!</h2>
    </div>
</div>

{{ end }}


{{ define "js" }}

{{ end }}
