{{ define "title" }}Homepage{{ end }}

{{ define "css" }}

<link rel="stylesheet" href="/static/css/material-datetime-picker.css" type="text/css" />

{{ end }}


{{ define "navbar-content" }}

<li><a href="/account">My Account</a></li>
<li><a href="/logout">Logout</a></li>

{{ end }}

{{ define "sidenav-content" }}

<li class="search">
    <div class="search-wrapper card">
        <input id="search" class="black-text"><i class="material-icons icon-black">search</i>
        <div class="search-results"></div>
    </div>
</li>
<li><a href="#!">Today</a></li>
<li><a href="#!">Upcoming</a></li>
<li><a href="#!">Thought Cloud</a></li>

{{ end }}


{{ define "content" }}

<div id="vue-container">
    <div id="drag-scope">
        <todo-container :data="tasks">
            <todo-item v-for="(task, index) in tasks" :data="task">

                <template v-if="!task.editing">
                    <div class="card grey darken-3 no-margin no-rounded-corners handle">
                        <div class="card-content white-text lmdd-block">
                            <div class="row">
                                <div class="col s1">
                                    <input :id="'task' + index" name="group" type="checkbox" class="white" />
                                    <label :for="'task' + index"></label>
                                </div>
                                <div class="col s11">
                                    <div class="row">
                                        <div class="col s11" @click="task.editing=true">
                                            <span class="card-title no-block extra-spacing">{{`{{task.title}}`}} </span>
                                            <span>({{`{{task.time}}`}})</span>
                                        </div>
                                        <div class="col">
                                            <a class="remove" @click="deleteTask($event, tasks, index)"><i class="material-icons">clear</i></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s11" @click="task.editing=true">
                                            <p class="multiline-text">{{`{{task.body}}`}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </template>

                <template v-else>
                    <div class="card grey darken-3 no-margin no-rounded-corners handle">
                        <div class="card-content white-text lmdd-block">
                            <div class="row">
                                <div class="col s1">
                                    <input :id="'task' + index" name="group" type="checkbox" class="white" />
                                    <label :for="'task' + index"></label>
                                </div>
                                <div class="col s11">
                                    <div class="row">
                                        <div class="col s11">
                                            <input class="black-text extra-spacing" type="textarea" v-model="task.title" required/>
                                            <input class="black-text c-datepicker-input" type="textarea" v-model="task.time" @focus="showDatePicker($event);" />
                                        </div>
                                        <div class="col">
                                            <a class="remove" @click="deleteTask($event, tasks, index)"><i class="material-icons">clear</i></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s11">
                                            <textarea class="white materialize-textarea textarea-extra-padding round black-text" @click="autosize($event.target)" v-model="task.body" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <template v-if="!task.action">
                                <div class="row">
                                    <div class="col s11">
                                        <a class="waves-light btn grey darken-3 white-text" @click.prevent="updateTask($event, task, index)">Save</a>
                                    </div>
                                </div>
                            </template>
                            <template v-else>
                                <div class="row">
                                    <div class="col s11">
                                        <a class="waves-light btn grey darken-3 white-text" @click.prevent="newTask($event, task)">Create</a>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>

                </template>

            </todo-item>
        </todo-container>
    </div>

    <div class="container">
        <div class="fixed-action-btn action-button-position">
            <div class="btn-floating waves-effect waves-light red" @click="addNewTaskForm()">
                <i class="material-icons">add</i>
            </div>
        </div>
    </div>
</div>

{{ end }}

{{ define "js" }}

<script type="text/javascript" src="/static/js/vue.min.js"></script>
<script type="text/javascript" src="/static/js/lmdd.min.js"></script>
<script type="text/javascript" src="/static/js/Queue.js"></script>
<script type="text/javascript" src="/static/js/vue-container.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/rome/2.1.22/rome.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
<script type="text/javascript" src="/static/js/material-datetime-picker.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/autosize.js"></script>

{{ end }}
